body {
	padding: 10px;
	background-color: black;
}

h1, h3 {
	 color: white;
	 font-family: Helvetica, sans serif;
	 text-align: center;
	 margin: 0;
}

h1 {
	font-weight: 300;
	font-size: 1.5em;
	margin-bottom: 15px;
}

h3 {
	font-weight: 100;
	font-size: 1.25em;
}

h4, h5 {
	color: white;
	font-family: Helvetica, sans serif;
	text-align: center;
}

h4 {
	font-weight: 500;
}

h5 {
	font-weight: 100;
}

.modal-header {
	text-align: center;
}

#time-input{
	width:75px;
	display: inline;
}

#form-container{
	margin-top: 15px;
	margin-bottom: 15px;
}

#video-description {
	margin-bottom: 15px;
}

#video-box {
	margin-bottom: 15px;
}

.modal-title {
	color: black;
	font-weight: 500;
}
